[submodule "C_Lang_Deep__Dive"]
	path = C_Lang_Deep__Dive
	url = git@github.com:YOUNESS-RZIQI/C_Lang_Deep__Dive.git
[submodule "HTML_Deep__Dive"]
	path = HTML_Deep__Dive
	url = git@github.com:YOUNESS-RZIQI/HTML_Deep__Dive.git
[submodule "Python_Deep__Dive"]
	path = Python_Deep__Dive
	url = git@github.com:YOUNESS-RZIQI/Python_Deep__Dive.git
[submodule "Amazing"]
	path = Amazing
	url = https://github.com/YOUNESS-RZIQI/Amazing
[submodule "Python_Modules"]
	path = Python_Modules
	url = https://github.com/YOUNESS-RZIQI/Python_Modules
[submodule "Call-Me-Maybe"]
	path = Call-Me-Maybe
	url = https://github.com/YOUNESS-RZIQI/Call-Me-Maybe
[submodule "Codexion_Codexion"]
	path = Codexion_Codexion
	url = https://github.com/YOUNESS-RZIQI/Codexion_Codexion
[submodule "Drones-Fly-in"]
	path = Drones-Fly-in
	url = https://github.com/YOUNESS-RZIQI/Drones-Fly-in
